@import 'components/table/table';
@import 'components/table/tableElement';
@import 'components/table/tablePanel';
@import 'components/sideMenu/loadBtnContainer';
@import 'components/sideMenu/sideMenu';
@import 'components/sideMenu/filterContainer';

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
        'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
    background: white;
}

#root {
    position: relative;
    display: flex;
    flex-direction: row;
}
