@import 'components/table/table';
@import 'components/table/tableElement';
@import 'components/table/tablePanel';
@import 'components/table/paginator';
@import 'components/sideMenu/loadBtnContainer';
@import 'components/sideMenu/sideMenu';
@import 'components/sideMenu/filterContainer';
@import 'components/entry/addEntryComponent';
@import 'components/entry/entryInfo';
@import 'components/loader';
@import 'components/appContainer';
@import 'components/header';
@import 'components/error';

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Trebuchet MS', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    background: whitesmoke;
}

#root {
    position: relative;
    display: flex;
    flex-direction: row;
}
