.table {
  display: flex;
  flex-direction: column;
  margin: 15px auto;
  width: 100%;
  box-shadow: 0 0 8px 3px silver;
  background: white; }
  .table .table-row {
    display: flex;
    flex-direction: row;
    height: 40px;
    margin: 0;
    cursor: pointer; }
    .table .table-row.selected-row {
      background: #716fff;
      color: white; }

.table-cell {
  display: flex;
  align-items: center;
  border-left: 1px solid darkgray;
  border-bottom: 1px solid darkgray;
  padding: 0 5px;
  width: 25%;
  box-sizing: border-box;
  overflow: hidden; }
  .table-cell.id {
    width: 5%; }
  .table-cell:last-child {
    border-right: 1px solid darkgray; }

.table-row.panel {
  height: 50px;
  box-shadow: 0 3px 8px 1px silver; }
  .table-row.panel .table-cell-button {
    display: flex;
    align-items: center;
    border: 1px solid silver;
    border-right: none;
    background-color: #322fb9;
    color: floralwhite;
    padding: 0 5px;
    outline: none;
    font-family: -apple-system, Arial, Helvetica, sans-serif;
    font-size: 14pt;
    box-sizing: border-box;
    width: 25%; }
    .table-row.panel .table-cell-button.id {
      width: 5%; }
    .table-row.panel .table-cell-button:hover {
      cursor: pointer; }
    .table-row.panel .table-cell-button.up-arrow:after {
      content: '\25B2';
      margin-left: auto; }
    .table-row.panel .table-cell-button.down-arrow:after {
      content: '\25BC';
      margin-left: auto; }
    .table-row.panel .table-cell-button:first-child {
      border-left: none; }

.paginator {
  width: 90%;
  text-align: center;
  bottom: 0; }
  .paginator .page-button {
    width: 35px;
    height: 35px;
    margin: 5px 2px;
    font-size: 12pt;
    box-sizing: border-box;
    cursor: pointer;
    background: #716fff;
    color: white;
    border: none;
    border-radius: 2px;
    outline: none;
    transition: all 0.1s linear;
    opacity: 0.7; }
    .paginator .page-button.selected {
      background: #322fb9;
      opacity: 1;
      border: 2px solid #322fb9;
      border-radius: 2px; }
    .paginator .page-button.arrow {
      background: transparent !important;
      color: #716fff;
      font-size: 14pt;
      border: none !important;
      width: auto;
      transition: none; }
      .paginator .page-button.arrow:hover {
        color: #322fb9; }
    .paginator .page-button:hover {
      background: #322fb9; }
    .paginator .page-button:focus {
      border: 2px solid #322fb9;
      border-radius: 2px; }

.load-btn-container {
  display: flex;
  flex-direction: column;
  margin: 15px 0; }
  .load-btn-container .load-btn {
    height: 60px;
    width: 90%;
    margin: 5px auto;
    border: none;
    outline: none;
    background-color: #322fb9;
    color: white;
    font-size: 12pt;
    box-shadow: 0 0 5px 2px silver; }
    .load-btn-container .load-btn:hover {
      cursor: pointer; }

aside {
  position: fixed;
  left: 0;
  top: 80px;
  bottom: 0;
  height: 100vh;
  width: 250px;
  box-shadow: 2px 2px 5px 2px silver;
  background: white; }

.filter-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background: white;
  border-bottom: 1px solid darkgray;
  border-top: 1px solid darkgray;
  padding: 10px 0; }
  .filter-container p {
    margin: 0 0 5px; }
  .filter-container #filter-form {
    position: relative;
    display: flex;
    flex-direction: column; }
    .filter-container #filter-form input[type='search'] {
      position: relative;
      width: 200px;
      height: 35px;
      box-sizing: border-box;
      background: white;
      outline: none;
      border: 1px solid darkgray;
      padding-right: 35px;
      margin-bottom: 10px;
      border-radius: 5px; }
    .filter-container #filter-form button[type='submit'] {
      width: 35px;
      height: 35px;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      padding: 0;
      outline: none;
      border: 1px solid darkgray;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      cursor: pointer; }

#filter-empty-message {
  text-align: center;
  font-size: 16pt; }

.add-entry-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }
  .add-entry-component .input-form {
    width: 100%;
    box-shadow: 0 0 8px 3px silver; }
    .add-entry-component .input-form .input-error-status {
      display: block;
      text-align: center;
      color: #ff5252; }
    .add-entry-component .input-form .input-fine-status {
      display: block;
      text-align: center;
      color: black; }
  .add-entry-component .close-form-button {
    border-radius: 0;
    color: white;
    background: #322fb9;
    outline: none;
    border: none;
    height: 25px;
    box-shadow: 0 0 8px 3px silver;
    font-size: 12pt;
    font-weight: 400;
    margin-bottom: 10px;
    cursor: pointer; }
  .add-entry-component .add-button {
    width: 20%;
    border-radius: 0;
    color: white;
    background: #322fb9;
    outline: none;
    border: none;
    height: 25px;
    box-shadow: 0 0 8px 3px silver;
    font-size: 12pt;
    font-weight: 400;
    margin: 10px;
    cursor: pointer; }
    .add-entry-component .add-button:disabled {
      opacity: 0.75;
      cursor: default; }
  .add-entry-component .inputs {
    display: flex;
    flex-direction: row;
    margin: 10px 0 0;
    padding: 0; }
  .add-entry-component .label-input {
    display: flex;
    flex-direction: column;
    border: 1px solid darkgray;
    margin: 5px;
    padding: 3px; }
    .add-entry-component .label-input input[type='text'] {
      width: 90%;
      margin: 5px;
      height: 25px;
      outline: none;
      border: 1px solid darkgray;
      transition: all .08s linear; }
      .add-entry-component .label-input input[type='text']:active, .add-entry-component .label-input input[type='text']:focus {
        border-color: #4e4af8;
        box-shadow: 0 0 5px 1px silver; }
      .add-entry-component .label-input input[type='text'].error-input {
        transition: all .08s linear;
        border-color: #ff5252; }
        .add-entry-component .label-input input[type='text'].error-input:active, .add-entry-component .label-input input[type='text'].error-input:focus {
          box-shadow: 0 0 5px 1px silver; }

.entry-info {
  width: 50%;
  box-shadow: -2px 0 5px 2px silver;
  margin-top: 10px;
  background: white;
  padding: 10px 15px 0;
  box-sizing: border-box; }
  .entry-info #textarea-info-description {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    line-height: 1.2em;
    height: 12em;
    box-sizing: border-box; }

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 15px auto; }

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #322fb9;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #322fb9 transparent transparent transparent; }

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s; }

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s; }

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s; }

@keyframes lds-ring {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 95px;
  margin-left: 250px;
  padding: 0 2%; }

header {
  position: fixed;
  width: 100%;
  height: 80px;
  box-shadow: 2px 0 5px 2px silver;
  background: #322fb9;
  padding-left: 15px;
  color: white;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1; }

.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 95px;
  margin-left: 250px;
  padding: 0 2%; }
  .error-container h1 {
    font-size: 4em;
    margin: 0; }
  .error-container h2 {
    margin: 0; }
  .error-container h3 {
    text-align: center; }

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Trebuchet MS', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  background: whitesmoke; }

#root {
  position: relative;
  display: flex;
  flex-direction: row; }
