.table {
    display: flex;
    flex-direction: column;
    margin: 15px auto;
    width: calc(90% - 250px);
    .table-row {
        display: flex;
        flex-direction: row;
        height: 40px;
        margin: 0;


    }
}
