.load-btn-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    .load-btn {
        height: 60px;
        border: none;
        border-bottom: 1px solid dimgray;
        outline: none;
        background-color: lightgray;
        font-size: 14pt;

        &:hover {
            cursor: pointer;
        }
    }
}
