.load-btn-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    .load-btn {
        height: 60px;
        border: none;
        border-bottom: 2px solid gray;
        outline: none;
        background-color: #d5d5d5;
        font-size: 13pt;

        &:hover {
            cursor: pointer;
        }
    }
}
