.load-btn-container {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    .load-btn {
        height: 60px;
        width: 90%;
        margin: 5px auto;
        border: none;
        outline: none;
        background-color: #322fb9;
        color: white;
        font-size: 12pt;
        box-shadow: 0 0 5px 2px silver;
        &:hover {
            cursor: pointer;
        }
    }
}
